{% extends 'root.html' %}
{% block content %}
<h1>Statistics For All Collected Sensor Data</h1>
    <table border=3px>
        <tr padding=1px>
            <th>Time Stamp</th>
            <th>Moisture</th>
            <th>Temperature</th>
            <th>Sunlight</th>
            <th>Phosphate</th>
        </tr padding=1px>
        {% for item in query %}
        <tr> 
            <td padding=1px>{{ item.date_time }}</td>
            <td padding=1px>{{ item.moisture }}</td>
            <td padding=1px>{{ item.temperature }}</td>
            <td padding=1px>{{ item.sunlight }}</td>
            <td padding=1px>{{ item.phosphate }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
