{% extends 'root.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'testStyle.css' %}">
{% endblock head %}

{% block content %}
    {% for video in videos %}
        <div class="video">
            <h1> {{video.name}} </h1>
            <ul>
                {% for tags in nameSet %}
                    {% for tag in tags %}
                        <li> {{ tag }} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
