
{% extends 'root.html' %}

{% block content %}
<form action="{% url 'SolarSENSE:showTags' %}" method="get">
    <label for="temperature"></label>
    <input type="number" name="temperature" id="temperature"><br>
    <label for="sunlight"></label>
    <input type="number" name="sunlight" id="sunlight"><br>
    <label for="water"></label>
    <input type="number" name="water" id="water"><br>
    <label for="phosphate"></label>
    <input type="number" name="phosphate" id="phosphate"><br>
    <input type="submit" value="Submit">
</form>
{% endblock content %}