{% extends 'root.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static bootstrap.min.css %}">
    <script src="{% static bootstrap.min.js %}"></script>

{% endblock head %}




{% block content %}
<form action="{% url 'showTags' %}" method="post" class="container border">
    {% csrf_token %}
    <label for="temperature"> Temperature </label>
    <input type="number" name="temperature" id="temperature"><br>
    <label for="sunlight"> Sunlight </label>
    <input type="number" name="sunlight" id="sunlight"><br>
    <label for="water"> Water </label>
    <input type="number" name="water" id="water"><br>
    <label for="phosphate"> Phosphate </label>
    <input type="number" name="phosphate" id="phosphate"><br>
    <input type="submit" value="Submit">
</form>
{% endblock content %}
