.panels-flexible-category_with_content .panels-flexible-region {
  padding: 0;
}

.panels-flexible-category_with_content .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-category_with_content .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-category_with_content .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-category_with_content .panels-flexible-column {
  padding: 0;
}

.panels-flexible-category_with_content .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-category_with_content .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-category_with_content .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-category_with_content .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-category_with_content .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-category_with_content-6 {
  float: left;
  width: 19.9277%;
}

.panels-flexible-column-category_with_content-main {
  float: left;
  width: 79.0723%;
}

.panels-flexible-category_with_content-inside {
  padding-right: 0px;
}

.panels-flexible-category_with_content {
  width: auto;
}

.panels-flexible-region-category_with_content-left_inner_menu {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-absolute_top {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-18-inside {
  padding-right: 0px;
}

.panels-flexible-column-category_with_content-2 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-category_with_content-3 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-category_with_content-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-topleft {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-topright {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-column-category_with_content-11 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-column-category_with_content-10 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-column-category_with_content-9 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-column-category_with_content-12 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-row-category_with_content-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-footer_1 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-13-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-footer_2 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-14-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-footer_3 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-15-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-footer_4 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-16-inside {
  padding-right: 0px;
}

.panels-flexible-region-category_with_content-absolute_footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-category_with_content-17-inside {
  padding-right: 0px;
}

